<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.springbootmybatis.dao.TeacherDao">

<resultMap id="BaseResultMap" type="com.cx.springbootmybatis.entity.Teacher">
<result column="id" jdbcType="INTEGER" property="id" />
<result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
<result column="teacher_age" jdbcType="INTEGER" property="teacherAge" />
</resultMap>

<select id="getById" resultType="com.cx.springbootmybatis.entity.Teacher">
select id,teacher_name as teacherName,teacher_age as teacherAge from teacher where id = #{id}
</select>

<insert id="insert" parameterType="com.cx.springbootmybatis.entity.Teacher">
insert into teacher(teacher_name,teacher_age) values(#{teacherName},#{teacherAge});
</insert>

<update id="update" parameterType="com.cx.springbootmybatis.entity.Teacher">
update teacher set teacher_name = #{teacherName},teacher_age = #{teacherAge} where id=#{id}
</update>

</mapper>