<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.springbootmybatis.dao.UserDao">

<resultMap id="BaseResultMap" type="com.cx.springbootmybatis.entity.User">
<result column="id" jdbcType="INTEGER" property="id" />
<result column="username" jdbcType="VARCHAR" property="username" />
<result column="password" jdbcType="VARCHAR" property="password" />
<result column="realName" jdbcType="VARCHAR" property="realName" />
</resultMap>

<select id="getById" resultType="com.cx.springbootmybatis.entity.User">
select * from user where id = #{id}
</select>

<insert id="insert" parameterType="com.cx.springbootmybatis.entity.User">
insert into user(username,password,realName) values(#{username},#{password},#{realName});
</insert>

<update id="update" parameterType="com.cx.springbootmybatis.entity.User">
update user set realName = #{realName},username = #{username},password=#{password} where id=#{id}
</update>
</mapper>